<% @results.each do |result| %>
    <% if result.is_a?(Article) %>
      <h2><%= link_to result.title, article_path(result) %></h2>
      <p><%= result.body %></p>
    <% elsif result.is_a?(User) %>
      <h2><%= link_to result.name, user_path(result) %></h2>
      <!-- Add other information about user -->
    <% end %>
    <!-- Continue for each type of result -->
  <% end %>
  