<% if user_signed_in? %>

<h1>Friends</h1>

<div id="friends">

  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>


</div>

<%= link_to "New friend", new_friend_path %>

<% else %>

<h1>Hello World!!</h1>

This is my first Rails page~

<% end %>