<!DOCTYPE html>
<html lang="en">
<script>
window.onload = function() {
  var player = document.getElementById('audio-player');
  var links = document.querySelectorAll('#playlist a');

  links.forEach(function(link) {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      var src = this.getAttribute('data-src');
      player.src = src;
      player.play();
    });
  });
};
</script>

<style>
audio::-webkit-media-controls-panel {
  background-color: #1B7AC4; /* color for Chrome */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display {
  color: #ffffff; /* White color for controls */
}


</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Musical Journey</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/application.css">

    

    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    h2 {
        font-family: 'Source Serif Pro', serif;
        font-size: 1.5rem;
        color: #000000; /* This will make the headers black */
        margin-top: 50px; /* This will add some space above each header */
        }
    </style>
</head>

<body>
    <div class="container mt-2 pb-5"> 
        <h1 class="text-center text-primary animate__animated animate__fadeInDown">My Musical Journey</h1>

        <div class="row">
        <div class="col-lg-8 offset-lg-2">
    
        
        <h2 class="text-center display-9 animate__animated animate__fadeIn"><strong>Beszos - An EP with Sekkes</strong></h2>
        <p class="lead animate__animated animate__fadeIn">Beszos is a new EP project I embarked on with my friend Sekkes. Combining our unique musical styles and influences, we are creating an EP that we will perform at local bars and small venues in San Francisco.</p>
            <a class="btn btn-custom animate__animated animate__fadeIn" href="https://www.tiktok.com/@beszos?lang=en" role="button">Explore Beszos on TikTok</a>
            
            <div class="my-4">
                <h5 class="text-center text-secondary mb-3 animate__animated animate__fadeIn">Sample Sekkes Music</h5>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/66nWB6DPFz5eOlw4IFf0ZC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <h2 class="text-center display-9 animate__animated animate__fadeIn"><strong>Cole Valley Jam</strong></h2>
            <p class="lead animate__animated animate__fadeIn">Cole Valley Jam is a neighborhood jam band that I'm part of. We bring a mix of classic rock, contemporary, and original music to our local community. Join us for a musical adventure right at the heart of Cole Valley.</p>
                <div class="playlist">
    <audio id="audio-player" controls>
        Your browser does not support the audio element.
    </audio>
    <ol id="playlist">
  <li class="current-song"><a href="#" data-src="<%= asset_path 'firemountain.m4a' %>">Fire on the Mountain</a></li>
  <li><a href="#" data-src="<%= asset_path 'sinking.m4a' %>">Sinking</a></li>
  <li><a href="#" data-src="<%= asset_path 'shewhispers.m4a' %>">She Whispers</a></li>
</ol>
                
<h2 class="text-center display-9 animate__animated animate__fadeIn"><strong>5past1 on SoundCloud</strong></h2>
<p class="lead animate__animated animate__fadeIn">5past1 is my solo musical journey where I explore and express myself through different sonic landscapes. Tune into my SoundCloud for an immersive and transformative experience.</p>
                <a class="btn btn-custom animate__animated animate__fadeIn" href="https://soundcloud.com/5past1" role="button">Listen to 5past1</a>
                <h3 class="my-4 text-left text-secondary mb-3 animate__animated animate__fadeIn">Electro</h3>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1658511703&color=%231b7ac4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>

<h3 class="my-4 text-left text-secondary mb-3 animate__animated animate__fadeIn">Acoustic</h3>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1658548270&color=%231b7ac4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>

</div>

            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
