<!-- app/views/builds/show.html.erb -->

<h1 class="build-title">Build <%= @build_id %></h1>

<div class="build-content">
  <% case @build_id %>
  <% when "1" %>
  <h2>FREDERICK STREET - SAN FRANCISCO</h2>
    
  <h3>Family Room Remodel</h3>
  <ul>
    <li>Custom Shelving</li>
    <li>Tile Backsplash</li>
    <li>Slate Floor Tile</li>
    <li>Recessed Lighting</li>
  </ul>
  
  <h3>Backyard Remodel</h3>
  <ul>
    <li>Custom Concrete Hardscape</li>
    <li>Stone, Path Fines</li>
    <li>IPE Deck</li>
    <li>Gas Drop for Firepit</li>
  </ul>

  <% when "2" %>
  <h2>9TH AVE - SAN FRANCISCO</h2>
  <h3>3rd Floor Remodel</h3>
  <ul>
    <li>Full Gut</li>
    <li>4 Bedrooms</li>
    <li>1 Bathroom</li>
    <li>Update Plumbing and Electrical</li>
  </ul>

  <% when '3' %>
  <h2>MONTALVO AVE - SAN FRANCISCO</h2>
  <h3>Full House Prep for Sale</h3>
  <ul>
    <li>Repairs</li>
    <li>Interior and Exterior Painting</li>
    <li>Landscaping</li>
    <li>Deck Refinishing</li>
    <li>Deep Clean</li>
  </ul>

<% when '4' %>
  <h2>LANSING STREET CONDOS - SAN FRANCISCO</h2>
  <h3>Unit Remodel A</h3>
  <ul>
    <li>Kitchen</li>
    <li>Bathroom</li>
    <li>Flooring throughout Unit</li>
    <li>Interior Painting</li>
    <li>Recessed Lighting</li>
  </ul>
  <h3>Unit Remodel B</h3>
  <ul>
    <li>Flooring</li>
    <li>Recessed Lighting</li>
    <li>New Office/Guest Bedroom</li>
  </ul>

<% when '5' %>
  <h2>CLAYTON STREET - SAN FRANCISCO</h2>
  <h3>3rd Floor Remodel</h3>
  <ul>
    <li>Kitchen</li>
    <li>Bathrooms</li>
    <li>Flooring throughout Unit</li>
    <li>Interior Painting</li>
    <li>Recessed Lighting</li>
    <li>Laundry Room</li>
  </ul>

<% when '6' %>
  <h2>KEOKUK STREET - PETALUMA</h2>
  <h3>Full House Remodel</h3>
  <ul>
    <li>Kitchen</li>
    <li>Bathrooms</li>
    <li>Flooring</li>
    <li>Interior Painting</li>
    <li>Recessed Lighting</li>
    <li>Laundry Room</li>
    <li>Structural</li>
    <li>Plumbing</li>
    <li>Electrical</li>
    <li>HVAC</li>
    <li>Foundation Repair</li>
  </ul>

  <% else %>
    <p>Information about this build is not available at the moment.</p>
  <% end %>
</div>
