<!-- app/views/builds/show.html.erb -->

<h1>Build <%= @build_id %></h1>
<p>
  <!-- Insert content for build here. You can use @build_id to change content dynamically. -->
  <!-- For example, you might fetch text or images from the database that corresponds to the build ID -->
</p>

