<!DOCTYPE html>
<html>
<head>
    <title>William Francis Misiaszek</title>
</head>
<body>
    <h1>Welcome to William Misiaszek's Personal Website!</h1>
    <h2>About Me</h2>
    <p>
        Multilingual Technical Product Manager with a background in economics and project management. Experienced in Swift (iOS), Ruby, JS, and data analytics. My work focuses on developing and launching new products, conducting market research, analyzing customer feedback, and managing web property migrations.
    </p>
    <h2>Skills</h2>
    <ul>
        <li>Swift (iOS), Ruby, JS</li>
        <li>Figma, JIRA, Notion, GA4/UA</li>
        <li>English, Spanish (1st), Japanese, Mandarin</li>
    </ul>
    <h2>Experience</h2>
    <h3>Technical Product Manager at Stanford Alumni Association</h3>
    <p>
        Led the development and launch of audio publications and managed the rejuvenation of web properties. Reduced burn-rate of engineer consultants by 55% YOY. Developed and maintained key metrics to track product performance and inform decision-making for Executive Leadership.
    </p>
    <h3>Associate Product Manager at Stanford - Humanities and Sciences</h3>
    <p>
        Managed enhancement cycles for the Budget Planning System and collaborated with senior staff to renew and replace current financial software and business processes.
    </p>
    <h3>Systems Analyst at Stanford - Enterprise Technology</h3>
    <p>
        Managed SDLC and maintained financial systems. Led UAT/QA testing with school leadership.
    </p>
    <h2>Education</h2>
    <ul>
        <li>Project Management (PMI, 2021)</li>
        <li>Data Analytics Professional (Google, 2021)</li>
        <li>Economics (UC San Diego, 2018)</li>
    </ul>
    <h2>Contact Me</h2>
    <p>
        Email: <a href="mailto:wmisiasz@gmail.com">wmisiasz@gmail.com</a>
    </p>
    <p>
        Connect with me on <a href="https://www.linkedin.com">LinkedIn</a> and <a href="https://www.twitter.com">Twitter</a>. Check out my work on <a href="https://www.gitlab.com">GitLab</a> and <a href="https://www.github.com">GitHub</a>.
    </p>
</body>
</html>