<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>William Francis Misiaszek</title>

    <!-- Bootstrap CSS -->
    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/assets/application.css">

</head>

<body>
    <div class="container mt-2 pb-5">
        <h1 class="text-center text-primary mb-3 animate__animated animate__fadeInDown">Welcome!</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="display-9 animate__animated animate__fadeIn"><strong>About Me</strong></h2>
                <p class="lead animate__animated animate__fadeIn">
                    Multilingual Technical Product Manager with a background in economics. Experienced in Swift (iOS), Ruby, JS, and data analytics. My work focuses on developing and launching new products, conducting market research, analyzing customer feedback, and managing SAAS integrations.
                </p>
                <h2 class="display-9 animate__animated animate__fadeIn"><strong>Skills</strong></h2>
                <ul class="list-group list-group-flush animate__animated animate__fadeIn">
                    <li class="list-group-item">Swift (iOS), Ruby, JS</li>
                    <li class="list-group-item">Figma, JIRA, Notion, GA4/UA</li>
                    <li class="list-group-item">English, Spanish (1st), Japanese, Mandarin</li>
                </ul>
                <h2 class="display-9 animate__animated animate__fadeIn"><strong>Experience</strong></h2>
                <h3 class="lead animate__animated animate__fadeIn">Technical Product Manager at Stanford Alumni Association</h3>
                <p class="lead animate__animated animate__fadeIn">
                    Led the development and launch of audio publications and managed the rejuvenation of web properties. Reduced burn-rate of engineer consultants by 55% YOY. Developed and maintained key metrics to track product performance and inform decision-making for Executive Leadership.
                </p>
                <h3 class="lead animate__animated animate__fadeIn">Associate Product Manager at Stanford - Humanities and Sciences</h3>
                <p class="lead animate__animated animate__fadeIn">
                    Managed enhancement cycles for the Budget Planning System and collaborated with senior staff to renew and replace current financial software and business processes.
                </p>
                <h3 class="lead animate__animated animate__fadeIn">Systems Analyst at Stanford - Enterprise Technology</h3>
                <p class="lead animate__animated animate__fadeIn">
                    Managed SDLC and maintained financial systems. Led UAT/QA testing with school leadership.
                </p>
                <h2 class="display-9 animate__animated animate__fadeIn"><strong>Education</strong></h2>
                <ul class="list-group list-group-flush animate__animated animate__fadeIn">
                    <li class="list-group-item">Project Management (PMI, 2021)</li>
                    <li class="list-group-item">Data Analytics Professional (Google, 2021)</li>
                    <li class="list-group-item">Economics (UC San Diego, 2018)</li>
                </ul>
                <h2 class="display-9 animate__animated animate__fadeIn"><strong>Contact Me</strong></h2>
                <p class="lead animate__animated animate__fadeIn">
                    Email: <a href="mailto:wmisiasz@gmail.com">wmisiasz@gmail.com</a>
                </p>
                <p class="lead animate__animated animate__fadeIn">
                    Connect with me on <a href="https://www.linkedin.com">LinkedIn</a> and <a href="https://www.twitter.com">Twitter</a>. Check out my work on <a href="https://www.gitlab.com">GitLab</a> and <a href="https://www.github.com">GitHub</a>.
                </p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
