<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Why learn a language?</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
    <div class="container mt-2 pb-5"> <!-- Reduced mt value to 2 to move content up and added pb-5 for bottom spacing -->
        <h1 class="text-center text-primary mb-3 animate__animated animate__fadeInDown">Why learn a language?</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="lead animate__animated animate__fadeIn">Because it changes the way you view the world. Each language has its own flair on the human experience.</p>

                <p class="lead animate__animated animate__fadeIn">I'm currently learning Japanese. I use a combination of Duolingo, online teachers, and <em><b>language immersion.</b></em> </p>
                
                <p class="lead animate__animated animate__fadeIn"> Language immersion involves two major shifts that I employ that force progression in your chosen language:</p>

                <ol class="list-group list-group-flush animate__animated animate__fadeIn">
                    <li class="list-group-item">1. Switch your devices (phone/tablet/laptop) to the language you are learning.</li>
                    <li class="list-group-item">2. Utilize a VPN to transport the device to that country.</li>
                    <li class="list-group-item">3. EXTRA CREDIT: Buy a device made in the targeted culture. Keyboard layout fluctuates between countries. You may also see the subtle differences in physical products from another part of the world.</li>
                </ol>
                <p class="lead mt-5 animate__animated animate__fadeIn">My primary language is English, first language is Spanish, and I have a basic understanding of Mandarin.</p>
                <p class="lead mt-5 animate__animated animate__fadeIn">If you are interested in gaming on Duolingo together, add me on Facebook. We can then add each other on Duolingo.</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
