<h1>Languages</h1>

<h1> Why learn a language? </h1>

<p> Because it changes the way you view the world. Each language has its own flair on the human experience. </p>

<p> I'm currently learning Japenese. My primary language is English, first language is Spanish, and have a basic understanding of Mandarin </p>



