<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio - William Francis Misiaszek</title>

    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/assets/application.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>

.row {
    display: flex;
    justify-content: center; /* This will horizontally center the items */
}

.col-md-6 {
    display: flex;
    justify-content: center; /* This centers the content of the column */
    margin-bottom: 4rem; /* Adjust the bottom margin as needed */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin: auto; /* This will apply automatic margins on all sides, centering the image */
}


</style>

<body>
    <div class="container mt-2 pb-5">
        <h1 class="text-center mb-3 animate__animated animate__fadeInDown" style="color: #004085;">Friendly Neighbor</h1>

        <!-- Your existing sections here -->

        <!-- Image Gallery Section -->
        <div class="row justify-content-center mt-4 animate__animated animate__fadeIn">
            <h2 class="text-center w-100">Project Gallery</h2>
            <!-- Images with dynamic path helpers -->
            <% (1..6).each do |i| %>
            <div class="col-md-6 mb-4">
                <a href="<%= build_path(build_id: i) %>">
                    <%= image_tag "build#{i}.jpg", alt: "Project #{i}", class: "img-fluid" %>
                </a>
            </div>
            <% end %>
        </div>

        <!-- Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </div>
</body>

</html>
