<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>William Francis Misiaszek</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/application.css">


    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
    <div class="container mt-2 pb-5"> <!-- Reduced mt value to 2 to move content up and added pb-5 for bottom spacing -->
    <h1 class="text-center animate__animated animate__fadeInDown" style="color: #004085;">Languages Open Doors</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="lead animate__animated animate__fadeIn"><strong>Every language is a doorway to a new realm of understanding. It's not merely about words and grammar, but about seeing the world through a different lens. Each dialect adds a unique flavor to the human saga, enriching your perspective in a way that's as exhilarating as it is enlightening.</strong></p>

                <p class="lead animate__animated animate__fadeIn">I'm currently on an exciting journey with Japanese, blending the use of <a href="https://app.memrise.com/user/William_Misiaszek/" target="_blank">Memrise</a> and <a href="https://www.duolingo.com/profile/GoldEggBro" target="_blank">Duolingo</a>, online mentoring through <a href="https://www.hellotalk.com" target="_blank">HelloTalk</a>/YouTube, topped with a hearty dose of <em><b>language immersion.</b></em> </p>

                <p class="lead animate__animated animate__fadeIn">Immersing oneself involves some game-changing shifts that truly accelerate your mastery in your chosen language:</p>

                <ol class="list-group list-group-flush animate__animated animate__fadeIn">
                    <li class="list-group-item">1. Tech-Swap Challenge: Turn your gadgets (be it your phone, tablet, or laptop) to the language you're engrossed in. It's a daily nudge that keeps you on the learning track.</li>
                    <li class="list-group-item">2. Virtual Voyage: Employ a VPN to virtually transport your device to your chosen country, allowing you to experience digital interactions just like a local would.</li>
                    <li class="list-group-item">3. Extra Mile Magic: Invest in a gadget native to the culture you're exploring. The keyboard layout varies across borders, offering you a tangible touch of the linguistic nuances. Plus, it's fascinating to spot the subtle distinctions in gadgets from different corners of the globe.</li>
                </ol>
                <p class="lead mt-5 animate__animated animate__fadeIn">With a heart that beats in English, a soul that resonates with Spanish, and a budding friendship with Japanese, my language adventures continue to be a source of endless fascination.</p>
                <p class="lead mt-5 animate__animated animate__fadeIn">Keen on making your Duolingo journey more thrilling? Let’s take on the gaming challenges together! <a href="https://www.facebook.com/misiaszekwf/" target="_blank">Hit me up on Facebook</a>, and we can level up our Duolingo experience as a formidable duo.</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
